

<div class="container fixed left-48">
  
  <div class="text-center text-5xl font-extrabold text-black-500 uppercase mb-5 mr-24">Product List
    <div
    class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white ">
    <div>
        <button id="dropdownActionButton" (click)="handleClickDisplayed()" data-dropdown-toggle="dropdownAction"
            class="inline-flex outline-none items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 "
            type="button">
            <span class="sr-only">Action button</span>
            Categories
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
            </svg>
        </button>
        <div id="dropdownAction" [ngClass]="{'block': isDisplayBlock, 'hidden': !isDisplayBlock}"
            class="z-10 block bg-white divide-y divide-gray-100 rounded-lg shadow w-52 overflow-y-auto"
            style="max-height: 120px;">
            <ul class="py-1 text-sm text-gray-700 relative w-full" aria-labelledby="dropdownActionButton">
                <li class="w-[90%] cursor-auto" >
                    <a (click)="handleFilterCategory(defautlString)"
                        class="block cursor-auto px-4 py-2 hover:bg-gray-100"></a>
                </li>
                <li class="w-[90%] cursor-auto" *ngFor="let cate of categoryList">
                    <a (click)="handleFilterCategory(cate.name)"
                        class="block px-4 cursor-auto py-2 hover:bg-gray-100 ">{{cate.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
  </div>
  <div class=" w-0 shadow-md sm:rounded-lg pb-5">
    <div class="flex items-center gap-2">

    </div>
    <table border="1"
      class="ml-24 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border border-black border-collapse">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 border border-black text-center">Product name</th>
          <th scope="col" class="px-6 py-3 border border-black text-center">Description</th>
          <th scope="col" class="px-6 py-3 border border-black text-center">Category</th>
          <th scope="col" class="px-6 py-3 border border-black text-center">Image</th>
          <th scope="col" class="px-6 py-3 border border-black text-center">Price</th>
          <th scope="col" class="px-6 py-3 border text-center border-black">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList" class="odd:bg-white even:bg-gray-50 ">
          <td scope="row" class="px-3 py-4  border border-black font-medium w-screen dark:text-black">
            <p class="overflow-hidden whitespace-nowrap text-ellipsis w-80">
              {{ product.title }}
            </p>

          </td>
          <td class="px-4 py-4  border border-black">
            <p class="overflow-hidden whitespace-nowrap text-ellipsis w-70 dark:text-black">
              {{ product.description }}
            </p>
          </td>
          <td class="px-6 py-4 border border-black text-center dark:text-black">
            {{ product.category }}
        </td>
          <td class="px-6 py-4  border border-black">
            <img [src]="product.image" width="100" height="100" alt="" />
          </td>
          <td class="px-6 py-4 border border-black dark:text-black text-center">{{product.price}}.000Đ</td>
          <td class="px-6 py-4 border border-black">
            <Button class="font-medium text-green-500 hover:underline"
            routerLink="/admin/update/{{product.id}}">
              Edit
            </Button>
            <Button (click)="handleDeleteProduct(product.id)" class="font-medium text-red-500 hover:underline">
              Delete
            </Button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="py-[20px] ml-24">
    <button routerLink="/admin/create" type="button"
      class="text-white bg-gray-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Add Product
      </button>
  </div>
</div>
